body {
       font-family: Georgia, serif;
       background-color: rgb(3, 3, 14);
       margin: 0;
       padding: 0;
   }

.opening {
    color: rgba(255, 225, 0, 0.797);
    font-size: xx-large;
    font-weight: bolder;
}

.cursor {
    animation: blink 2.5s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.dots {
    color: rgba(255, 225, 0, 0.797);
    display: inline; /*makes it stay on the same line*/
}

/* Center the screen*/
.screen1 {
    font-size: xx-large;
    font-weight: bolder;
    color: rgba(255, 225, 0, 0.797);
    text-align: center;
    
    /* Center properly for all screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.loading {
    margin-top: 30px;
}