body {
       font-family: Georgia, serif;
       background-color: rgb(3, 3, 14);
   }

.opening {
    overflow: hidden;
    /*white-space: nowrap;*/
    width: 0;
    animation: typing 7s steps(80) forwards;
    border-right: 2px solid rgb(176, 160, 17);
    animation: typing 6s forwards, blink 0.2s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.dots::after {
    content: '';
    animation: dots 1.5s steps(4, end) infinite;
}
@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

.screen1 {
    font-size: xx-large;
    font-weight: bolder;
    color: rgba(255, 225, 0, 0.797);
    text-align: center;
    position: absolute;
    top: 350px;
    left: 450px;
}
