body {
       font-family: Georgia, serif;
       background-color: rgb(3, 3, 14);
       margin: 0;
       padding: 0;
   }

.opening {
    color: rgba(255, 225, 0, 0.797);
    font-size: xx-large;
    font-weight: bolder;
}

.cursor {
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.dots {
    color: rgba(255, 225, 0, 0.797);
    display: inline; /*makes it stay on the same line*/
}

/* Center the screen*/
.screen1 {
    font-size: xx-large;
    font-weight: bolder;
    color: rgba(255, 225, 0, 0.797);
    text-align: center;
    
    /* Center properly for all screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.loading {
    margin-top: 30px;
}

.fade-to-S2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 10s ease;
    z-index: 1000;
}

.fade-to-S2.active {
    opacity: 1;
    pointer-events: all;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 225, 0, 0.797);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s; /*Press effect*/
}

.circle-active {
    transform: scale(0.9); /*shrinks slightly when clicked*/
}

.play-icon {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
    margin-left: 5px;
}