@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gloria+Hallelujah&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
    margin: 0;
    padding: 0;
}

.bigTitle, .opening {
    margin: 0;
    padding: 0;
}

.bigTitle {
    color:antiquewhite;
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    margin: 80px;
    opacity: 0;
    transition: opacity 2s ease;
}

.bigTitle.fade-in {
    opacity: 1;
    pointer-events: all;
}

.opening {

    color:antiquewhite;
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
    max-width: 80%;
    line-height: 1.6;
    margin-bottom: 20px;
}

.cursor {
    animation: blink 0.4s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.dots {
    color: white;
    display: inline; /*makes it stay on the same line*/
}

/* Center the screen*/
.screen1 {
    font-size: x-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    
    /* Center properly for all screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    background-color: black;
    box-sizing: border-box;
}

.loading {
    margin-top: 0px;
}

.fade-to-S2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
    z-index: 1000;
}

.fade-to-S2.active {
    opacity: 1;
    pointer-events: all;
}

.play-button-style {
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;

    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 100px;
    opacity: 0;
    transition: transform 0.3s, opacity 8s ease;
    pointer-events: none;
}

.play-button-style.fade-in {
    opacity: 1; /*makes it visible*/
    pointer-events: all;
}

.play-image {
    width: 300px;
    height: auto;

    flex-shrink: 0;

    pointer-events: none;
    transition: transform 0.3s ease;
    display: block;
}

.play-button-style:hover .play-image{
    transform: scale(1.1);
}

.play-button-style:active .play-image{
    transform: scale(0.95);
    transition: transform 0.3s;
}