@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gloria+Hallelujah&family=Reenie+Beanie&family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Screen*/
.screen1 {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    position: relative;
}

.title-container {
    position: absolute; 
    top: 10vh;    
    width: 65vw;      
    max-width: 900px;
    z-index: 10;
}

.bigTitle {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    transition: opacity 2s ease;
}

.bigTitle.fade-in {
    opacity: 1;
}

/*Quote*/
.opening {
    color: antiquewhite;
    font-weight: lighter;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-align: center;
    max-width: 80%;
    line-height: 1.4;
    
    /* Since the title is floating, we give the quote its own space */
    margin-top: 5vh; 
    min-height: 200px;
}

/*Cursor*/
.cursor {
    display: inline-block;
    width: 10px;
    height: 1.2em;
    color: white;
    margin-left: 2px;
    vertical-align: middle;
    animation: blink 0.4s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/*Dots*/
.dots {
    color: white;
    display: inline; /*makes it stay on the same line*/
}

/*Button*/
.play-button-style { /*this is for the transition*/
    width: 320px;
    height: 520px;
    background: transparent;
    border: none;
    cursor: pointer;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px; 
    opacity: 0;
    transition: opacity 5s ease, transform 0.3s;
    pointer-events: none;
}

.play-button-style.fade-in {
    opacity: 1; /*makes it visible*/
    pointer-events: all;
}

.play-image { /*this is the png itself*/
    margin-top: 0px;
    width: 1000px;
    height: auto;

    flex-shrink: 0;

    pointer-events: none;
    transition: transform 0.3s ease;
    display: block;
}

.play-button-style:hover .play-image{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.play-button-style:active .play-image{
    transform: scale(0.935);
    transition: transform 0.3s;
}

/*Transition*/
.fade-to-S2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
    z-index: 1000;
}

.fade-to-S2.active {
    opacity: 1;
    pointer-events: all;
}