body {
       font-family: Georgia, serif;
       background-color: black;
       margin: 0;
       padding: 0;
   }

.bigTitle {
    color: white;
    text-decoration: underline;
    font-size: xxx-large;
    font-weight: bold;
    position: absolute;
    justify-content: center;
    top: 60px;
    opacity: 0;
    transition: opacity 2s ease;
}

.book {
    width: 200px;
    height: 200px;
    top: 100px;
    transition: opacity 10s ease;
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.bigTitle.fade-in {
    opacity: 1;
    pointer-events: all;
}

.book.fade-in {
    opacity: 1;
    pointer-events: all;
}

.opening {
    color: white;
    font-size: x-large;
    font-weight: lighter;
    position: absolute;
    justify-content: center;
    top: 250px;
}

.cursor {
    animation: blink 0.4s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.dots {
    color: white;
    display: inline; /*makes it stay on the same line*/
}

/* Center the screen*/
.screen1 {
    font-size: x-large;
    font-weight: bolder;
    color: white;
    text-align: center;
    
    /* Center properly for all screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    position: relative; /*changes with page*/
}

.loading {
    margin-top: 30px;
}

.fade-to-S2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 2s ease;
    z-index: 1000;
}

.fade-to-S2.active {
    opacity: 1;
    pointer-events: all;
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 200px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, opacity 2s ease; /*Press effect*/
    margin-top: 10px;
    opacity: 0;
    transform: translateX(-50%);
}

.circle.fade-in {
    opacity: 1; /*makes it visible*/
    pointer-events: all;
}

.circle:hover {
    transform: translateX(-50%) scale(1.1);
}

.circle-active {
    transition: opacity 3s ease;
    transform: translateX(-50%) scale(0.9); /*shrinks slightly when clicked*/
}

.play-icon {
    color: black;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid black;
    border-radius: 10%;
    margin-left: 10px;
}