@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    background-position: center;
    background-size: cover;
    transition: background-image 1.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.game-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 9999;
}
.name-box {
    position: absolute;
    bottom: 100%;
    background: rgba(255, 255, 255, 0.9);  
    padding: 10px 200px;
    border-radius: 5px 5px 0 0; 
    border: 2px solid white;
    border-bottom: none; 
}

#name-tag {
    display: inline-block;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 80px;
    text-transform: uppercase;
}
.dialogue-box {
    background: rgba(29, 29, 29, 0.85);
    border: 3px solid white;
    width: 100%;
    min-height: 25vh;               
    padding: 40px 10%;           
    box-sizing: border-box;
}

.opening {
    color: white !important; 
    opacity: 1 !important;  
    visibility: visible;
    position: relative;
    z-index: 1000;           /* Brings it to the very front */
}

.cursor {
    animation: blink 0.5s step-end infinite;
    color: white;
}

@keyframes blink { 50% { opacity: 0; } }

#typewriter {
    color: #f3f3f3 !important; /* Pure white */
    font-family:'Courier New', Courier, monospace;
    font-size: 50px !important; 
    line-height: 1.5;
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.choice-layout {
    display: none;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    bottom: 120%;
    right: 300px;
    transform: none; 
    align-items: flex-end; 
    z-index: 10000; /* Use a huge number to force it on top */
}

.choice-button {
    background: rgba(29, 29, 29, 0.95); 
    border: 3px solid white; 
    color: white; 
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem; 
    cursor: pointer;
    transition: 0.2s;
    pointer-events: all; 
    width: 500px;        
    height: 200px;        

    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-button:hover {
    background: white;
    color: black; 
    transform: scale(1.05);
}